{%extends 'base.html'%}

{%block title%}
Detalha Ordem
{%endblock title%}

{%block nomepagina%}
<h3>Detalha ordem</h3>
{%endblock%}

{%block content%}
<h3>Detalhamento da ordem</h3>
<table class="detalha-ordem">
                <tr>
                    <th>Nome</th>
                    <td>{{ordem.cliente}}</td>
                </tr>
                <tr>
                    <th>Data</th>
                    <td>{{ordem.data}}</td>
                </tr>
                <tr>
                    <th>Hora</th>
                    <td>{{ordem.hora}}</td>
                </tr>
                <tr>
                    <th>Tipo</th>
                    <td>{{ordem.tipo}}</td>
                </tr>
                <tr>
                    <th>Descrição</th>
                    <td>{{ordem.descricao}}</td>
                </tr>
</table>

    <label for="botao">Encerrar ordem</label>
    <a href="{%url 'encerra_ordem' ordem.pk%}"><button id="botao" type= "submit">
        Encerrar
    </button>
    </a>
</form>
{%endblock%}