{%extends 'base.html'%}
{%block title%}
Cadastro de Endereço
{%endblock title%}

{%block content%}
        <form method="POST">{%csrf_token%}
            {{form_endereco.as_p}}
            <button type="submit" class="btn btn-primay">
                Salvar
            </button>
            <a href="{%url 'dashboard'%}">
                <button type="button" class="btn btn-primary">
                    Voltar
                </button>
            </a>
        </form>
        
{%endblock content%}
