{%extends 'base.html'%}

{%block title%}
Dashboard
{%endblock title%}

{%block nomepagina%}
<h3>Dashboard</h3>
{%endblock%}

{%block content%}
        
            <div class="quadro">
                <h3>Ordens de Serviço</h3>
                <table class="ordens">
                    <thead>
                        <tr>
                            <th>Ordem</th>
                            <th>Descrição</th>
                            <th>Cliente</th> 	                            
                            <th>Data</th>
                            <th>Situação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ordem in compromisso%}
                        
                        <tr class="tr-ordens">
                            <td><a href="{%url 'detalha_ordem' ordem.pk%}">{{ordem.id}}</a></td>
                            <td>{{ordem.descricao}}</td>
                            <td>{{ordem.cliente}}</td>                            
                            <td>{{ordem.data}}</td>
                            <td>{{ordem.situacao}}</td>
                        </tr>
                        {%endfor%}
                                                                                               
                    </tbody>
                </table>
            </div>
            <div class="quadro">
                <h3>Financeiro</h3>
                <div class="contas">   
                    <h4>Contas a pagar</h4>                 
                    <table>
                        <thead>
                            <tr>
                                <th>Fornecedor</th>
                                <th>Valor</th>
                                <th>Vencimento</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {%for conta in contas_pagar%}
                            <tr>
                                <td>{{conta.fornecedor}}</td>
                                <td>R$ {{conta.valor}}</td>
                                <td>{{conta.vencimento}}</td>                             
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="contas">
                    <h4>Contas a Receber</h4>
                    <table>
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Valor</th>
                                <th>Vencimento</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {%for conta_receber in contas_receber%}
                            <tr>
                                <td>{{conta_receber.cliente}}</td>
                                <td>R$ {{conta_receber.valor}}</td>
                                <td>{{conta_receber.vencimento}}</td>                                
                            </tr>
                            {%endfor%}
                                                                                                                                                                                
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
{%endblock%}