{%extends 'base.html'%}
{%block title%}
Cadastro de Fornecedor
{%endblock title%}

{%block content%}
<div class="container">
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });
        </script>

        <form method="POST">{%csrf_token%}
            {{form_fornecedor.as_p}}
            <button type="submit" class="btn btn-primary">
                Salvar
            </button>
            <a href="{%url 'cadastro'%}">
                <button type="button" class="btn btn-primary">
                    Voltar
                </button>
            </a>
        </form>
</div>
{%endblock content%}
