<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        {%endblock title%}
    </title>
    <link href="{% static 'app/sg.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
        <div class="navbar">
            <h1>Sistema de gestão de serviços</h1>
        </div>
        <div class="nome-pagina">
        {%block nomepagina%}
        {%endblock%}
        </div>
        <div class="corpo">
            <div class="quadro-menu-lateral">
                <h3>Menu</h3>
                <div class="menu-opcoes">
                    <a href="{% url 'dashboard'%}">

                        <!--
                            Sizes:
                            tiny: 1rem
                            small: 2rem
                            medium: 4rem
                            large: 6rem
                        -->

                        <i class="large material-icons">home</i>
                    </a>

                </div>
                <div class="menu-lateral">
                    <div class="menu-lateral-operacional">
                        <p class="opcao">Gestão Operacional</p>
                        <div class="drop-operacional">
                            <a href="{%url 'cadastra_compromisso'%}"><p class="opcao">Cadastrar Ordem</p></a>
                            <a href="{%url 'consulta_ordens'%}"><p class="opcao">Consultar Ordens</p></a>
                            <a href="#"><p class="opcao">Gerar Relatórios</p></a>
                        </div>
                    </div>
                    
                    <div class="menu-lateral-financeiro">
                        <p class="opcao">Gestão Financeira</p>
                        <div class="drop-financeiro">
                            <a href="#"><p class="opcao">Contas a Pagar</p></a>
                            <a href="#"><p class="opcao">Contas a Receber</p></a>
                        </div>
                    </div>

                    <div class="menu-lateral-administrativo">
                        <p class="opcao">Gestão Administrativa</p>
                        <div class="drop-adm">
                            <a href="{%url 'cadastra_cliente'%}"><p class="opcao">Cadastrar Cliente</p></a>
                            <a href="{%url 'cadastra_fornecedor'%}"><p class="opcao">Cadastrar Fornecedor</p></a>
                            <a href="{%url 'cadastra_equipamento'%}"><p class= "opcao">Cadastrar Equipamentos</p></a>
                            <a href="#"><p class= "opcao">Cadastrar Insumos</p></a>
                        </div>
                    </div>
                    
                        <a href="{% url 'deslogar'%}"><p class="opcao">Logout</p></a>
                    
                    
                </div>       
            </div>
            <div class= "quadro-geral">
                {%block content%}
                {%endblock%}
            </div>
        </div>
        <div class="rodape">
            <p>Copyright - Desenvolvido por <a href="http://www.lazaroreina.com.br" target="_blank">Lázaro Reinã</a></p>
        </div>
</body>
</html>