<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
<meta charset="UTF-8">
<title>
    {%block title%}
    {%endblock title%}
  
</title>
</head>
<body>
    <nav class="teal lighten-1 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="brand-logo center">Sistema de Gestão de Serviços</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="right nav navbar-nav">
                    {% if request.user.is_authenticated %}
                    <li>Olá {{request.user.username}}</li>
                    <li><a href="{% url 'deslogar'%}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {%block content%}
        {%endblock content%}
    </div>

</body>
</html>