{%extends 'base.html'%}

{%block title%}
Gestão de Cadastros
{%endblock title%}

{%block content%}
<div class="container">

    <ul class="collection center">
        <a href="{% url 'cadastra_endereco' %}" class="collection-item"><li>Cadastrar Endereço</li></a>
        <a href="{% url 'cadastra_cliente' %}" class="collection-item"><li></li>Cadastrar Cliente</li></a>
        <a href="{% url 'cadastra_fornecedor' %}" class="collection-item"><li>Cadastrar Fornecedor</li></a>
    </ul>
    <a href="{% url 'dashboard'%}">
        <button type="button" class="btn btn-primary">
            Voltar
        </button>
    </a>
</div>
{%endblock content%}