{% extends 'base.html'%}

{%block title%}
Página Inicial
{%endblock title%}

{%block content%}
        <br>
        
        <a href="{% url 'cadastra_endereco' %}" class="white">
                <button type="button" class="btn btn-primary">
                        Cadastra Endereco
                </button>
        </a>
        <a href="{% url 'cadastra_cliente' %}" class="white">
                <button type="button" class="btn btn-primary">
                        Cadastra Cliente
                </button>
        </a>       
        <a href="{% url 'cadastra_fornecedor' %}" class="white">
                <button type="button" class="btn btn-primary">
                        Cadastra Fornecedor
                </button>
        </a>
        <a href="{% url 'cadastra_compromisso' %}" class="white">
                <button type="button" class="btn btn-primary">
                        Cadastra Compromisso
                </button>
        </a>
        
{%endblock content%}