{% extends 'base.html'%}

{%block title%}
Página Inicial
{%endblock title%}

{%block content%}
<div class="container">
        <form method="POST">{%csrf_token%}
                <h5 class="center">Login</h5>
                <input type="text" name="username" placeholder="Usuário">
                <input type="password" name="password" placeholder="Senha">
                <button type="submit" class="btn btn-primary">
                        Logar
                </button>
        </form>
</div>  

{%endblock content%}