div{
    border: dotted 1px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
}

.navbar{
    color:seagreen;
    background-color: oldlace;
    text-align: center;
    height: 80px;
    vertical-align: middle;



}

.navbar h1{
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.nome-pagina{
    text-align:center;
    color:seagreen;
    background-color:oldlace;
    height: 30px;
    font-size: large;
    position: relative;

}
.nome-pagina h3{
    position: relative;
    margin: auto;
}

.corpo{
    background-color:oldlace;
    min-height: 450px;
    text-align: center;
    box-sizing: border-box;
}

.quadro-menu-lateral{
    background-color:oldlace;
    border: dotted 1px;
    padding: 2px 4px 0px 4px;
    width: 20%;
    height: 400px;
    float: left;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.menu-opcao{
    height: 150px;
    margin: auto;
    border: dotted 1px;
    float: left;
}

.menu-lateral{
    text-align: center;
    width: 98%;
    float: left;
    padding: 1px 1px 1px 1px;
}

.opcao{
    padding: 1px 0 1px 1px;
    margin: 4px;
    background-color: wheat;
    border: solid 1px;
    border-style: dotted;
    color:black;
    width: 96%;
    font-size: 14px;
    cursor: pointer;
}

.menu-lateral a{
    text-decoration: none;
}

.menu-lateral-operacional{
    padding: 0;
    border: none;
    margin: 0;
}
.menu-lateral-financeiro{
    padding: 0;
    border: none;
    margin: 0;
}
.menu-lateral-administrativo{
    padding: 0;
    margin: 0;
    border: none;
}
.opcao:hover{
    background-color: whitesmoke;
}

.drop-operacional{
    display: none;
    float: none;
}

.drop-operacional .opcao{
    font-size: 12px;
    font-weight: bold;
    background-color:seagreen;
    color: oldlace;
}
.drop-operacional .opcao:hover{
    background-color: oldlace;
    font-weight: bolder;
    color: seagreen;
}
.drop-financeiro{
    display: none;
    float: none;
}

.drop-financeiro .opcao{
    font-size: 12px;
    font-weight: bold;
    background-color: seagreen;
    color: oldlace;
}

.drop-financeiro .opcao:hover{
    background-color: oldlace;
    font-weight: bolder;
    color: seagreen;
}

.drop-adm{
    display: none;
    float: none;
}
.drop-adm .opcao{
    font-size: 12px;
    font-weight: bold;
    background-color: seagreen;
    color:oldlace;
}

.drop-adm .opcao:hover{
    background-color: oldlace;
    font-weight: bolder;
    color: seagreen;
}

.menu-lateral-operacional:hover .drop-operacional{
    display:block;
}

.menu-lateral-financeiro:hover .drop-financeiro{
    display: block;
}

.menu-lateral-administrativo:hover .drop-adm{
    display: block;
}

.quadro-geral{
    background-color:oldlace;
    border: solid 1px;
    border-style: dotted; 
    padding: 0px 4px 2px 4px;
    margin: auto;
    width: 80%;
    height: 400px;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.quadro{
    
    border: solid 1px;
    border-style: dotted; 
    padding: 0px 4px 2px 4px;
    margin: auto;
    width: 50%;
    height: 400px;
    float: left;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.ordens{
    margin: auto;
    text-align: center;
}
.ordens th, .ordens td{
    background-color: wheat;
    border: solid 1px black;
    border-style: dotted;
    text-align: center;
    font-size: 14px;
    width: 200px;
}
.ordens td:hover{
    background-color: whitesmoke;
}
.ordens a{
    color: black;
    text-decoration: none;
}

.contas{
    width: 400 px;
    overflow: auto;
    padding-top: 4px;
    margin: auto;
    text-align: center;
}

.contas table{
    margin: 0 auto 2px auto;
}
.contas th, .contas td{
    background-color: wheat;
    border: solid 1px black;
    border-style: dotted;
    text-align: center;
    font-size: 14px;
    width: 200px;
    
}
.contas h4{
    margin: auto;
}

.rodape{
    color:seagreen;
    border: dotted 2px;
    background-color:oldlace;
    text-align: center;
    height: 40px;   
}

.quadro-agendamento{
    background-color:oldlace;
    border: solid 1px;
    border-style: dotted; 
    padding: 0px 4px 2px 4px;
    margin: auto;
    width: 80%;
    height: 400px;
    float: left;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.login{
    height: 30px;
    text-align: center;
    padding: 15px 0;
}

.detalha-ordem{
    text-align: center;
    padding-left: 10%;
}

.detalha-ordem th, .detalha-ordem td{
    text-align: center;
    background-color: wheat;
    border: solid 1px black;
    border-style: dotted;
    text-align: center;
    font-size: 14px;
    width: 400px;
}
.rodape p{
    font-size: 14px;
    top: 30%;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
}