<!Doctype html>
<html>
    <head>
        {%load static%}
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        
        <title>Agendamento</title>

        <link href="{% static 'app/sg.css'%} " rel="stylesheet">
    </head>

    <body>
        <div class="navbar">
            <h1>Sistema de gestão de serviços</h1>
        </div>
        <div class="nome-pagina">
            <h3>Agendamento de Serviços</h3>
        </div>
        <div class="corpo">
            <div class="quadro-menu-lateral">
                <a href="dashboard.html"><i class="material-icons">home</i></a>
                <h3>Menu</h3>
                <div class="menu-lateral">
                    <div class="menu-lateral-operacional">
                        <p class="opcao">Gestão Operacional</p>
                        <div class="drop-operacional">
                            <a href="agendamento.html"><p class="opcao">Agendar Serviços</p></a>
                            <a href="#"><p class="opcao">Pedir Material</p></a>
                            <a href="#"><p class="opcao">Gerar Relatórios</p></a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="quadro-agendamento">
                    
            </div>

        </div>
    </body>
</html>