<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Financeiro</title>
        <link href="sg.css" rel="stylesheet">

    </head>
    <body>
        <div class="navbar">
            <h1>Sistema de gestão de serviços</h1>
        </div>

        <div class="nome-pagina">
            <h3>Gestão Financeira</h3>
        </div>

        <div class="corpo">
            <div class="quadro-menu-lateral">
                <h3>Menu</h3>
                <div class="menu-lateral">
                    <a href="#"><p class="opcao">Contas a Pagar</p></a>
                    <a href="#"><p class="opcao">Contas a Receber</p></a>
                    <a href="dashboard.html"><p class="opcao">Dashboard</p></a>
                </div>
            </div>
            <div class="quadro-financeiro"></div>
        </div>
    </body>
</html>